
html, body {
  margin: 0;
  height: 100%;
  font-family: "Helvetica";
}

body {
  display: flex;
  flex-direction: row;
}

a {
  color: black;
  text-decoration: none;
}

a:hover, *[data-href]:hover {
  cursor: pointer;
  opacity: 0.7;
}

a.selected {
  font-weight: bold;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

nav {
  padding: 40px;
  font-size: 18px;
}

.logo {
  font-size: 50px;
  margin: 0;
  margin-bottom: 40px;
}

.thumbnail {
  max-height: 150px;
}

nav ul {
  margin-bottom: 10px;
  padding-left: 10px;
  list-style-type: none;
}

nav > ul > li {
  margin-top: 10px;
}

li > ul {
  font-size: 0.8em;
}

aside {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  min-height: 40px;
  font-size: 30px;
  cursor: pointer;
  user-select: none;
}

.arrow:hover {
  background: whitesmoke;
}

.arrow:not(.visible) {
  visibility: hidden;
}

.arrow, .arrow:active, .arrow:hover, .arrow:visited, .arrow:-webkit-any-link {
  text-decoration: none;
  font-style: normal;
}

.sidebar {
  display: flex;
  flex-direction: column;
}

.left.arrow, .right.arrow {
  margin: 40px 0;
  flex-grow: 1;
}

.up.arrow > span, .down.arrow > span {
  transform: rotate(90deg);
}

.info {
  font-size: 14.4px;
  position: absolute;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  min-height: 40px;
  min-width: 40px;
  max-width: 35%;
  padding: 10px;
}

.info-link {
  float: right;
  text-decoration: underline;
}

.info-text {
  background: white;
  padding: 20px
}

.info-link.disabled, .info-text:not(.visible) {
  visibility: hidden;
}

section {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

article {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

article > img {
  flex: 1;
  align-self: stretch;
  overflow: hidden;
  max-width: 100%;
  object-fit: contain;
}

section:not(.selected), article:not(.selected) {
  display: none;
}

.mosaic {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.mosaic p, .mosaic a {
  margin: 5px;
}
